.abc li ul {
    display: none;
  }
  .abc li:hover ul {
    display: block;
  }
  .abc{
    width: 500px;
    background-color:rgba(255,255,255,0.72);
    font-size:13px;
    
    
  }
  
  .abc ul {
    background-color:white;
    position: absolute;
    z-index: 9999;
    top: 2rem;
    
    width: 500px;
    border-radius: 20px;
    
    
  }